In [ ]:
#--Hypothesis-- Judging from the models, the Logistic Regression model will perform better for the dataset. As far as classification problems go, both the Random Forest and the Logistic Regression Models are suitable. But as far as there being over 80 variables to consider, the Logistic Model will prevail superior over the Random Forest model. Typically the Random Forrest Model would work better for promlems that are more simple.

#--Evaluation-- The Random Forest model performed better on test data without the data being scaled.

#--Results-- Once the data was scaled, the Logistics Regression model proved to be the better classifier with an accuracy score of .76 whereas the Random Forest model put our a score of .5.

#--Conclusion-- Although we came up with a .76 accuracy rate, I would still be skeptical on using either model for true value purposes. The accuracy is way to low to trust as far as percentages go.

In [24]:
# Import Dependancies
import pandas as pd
import numpy as np
from pathlib import Path
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler

In [32]:
# Read in CSV
train_df = pd.read_csv(Path('Instructions/Resources/2019loans.csv'))
test_df = pd.read_csv(Path('Instructions/Resources/2020Q1loans.csv'))

In [33]:
train_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,57107,57107,13375.0,0.1797,483.34,MORTGAGE,223000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,N,N
1,141451,141451,21000.0,0.1308,478.68,MORTGAGE,123000.0,Source Verified,low_risk,n,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,N,N
2,321143,321143,20000.0,0.1240,448.95,MORTGAGE,197000.0,Source Verified,low_risk,n,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,N,N
3,11778,11778,3000.0,0.1240,100.22,RENT,45000.0,Not Verified,low_risk,n,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,N,N
4,169382,169382,30000.0,0.1612,1056.49,MORTGAGE,133000.0,Source Verified,low_risk,n,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,N,N

In [34]:
test_df.head()

,Unnamed: 0,index,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,pymnt_plan,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,67991,67991,40000.0,0.0819,814.70,MORTGAGE,140000.0,Not Verified,low_risk,n,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,N,N
1,25429,25429,6000.0,0.1524,208.70,RENT,55000.0,Not Verified,low_risk,n,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,N,N
2,38496,38496,3600.0,0.1695,128.27,RENT,42000.0,Not Verified,low_risk,n,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,N,N
3,19667,19667,20000.0,0.1524,478.33,RENT,100000.0,Not Verified,low_risk,n,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,N,N
4,37505,37505,3600.0,0.1240,120.27,RENT,50000.0,Not Verified,low_risk,n,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,N,N

In [16]:
# Convert categorical data to numeric and separate target feature for training data
train_df = (train_df
                .replace({'loan_status':{'low_risk':'1'}})
                .replace({'loan_status':{'high_risk':'0'}})
                .replace('w',0)
                .replace('f',1)
                .replace('Individual','1')
                .replace('Joint App','0')
                .replace('ANY','0')
                .replace('RENT','1')
                .replace('MORTGAGE','2')
                .replace('OWN','3')
                .replace('Y','1')
                .replace('N','0')
                .replace('Y','1')
                .replace('N','0')
                .replace('Not Verified','0')
                .replace('Source Verified','1')
                .replace('Verified','1'))

In [17]:
# Drop columns and show with .head()
train_df.drop(['index','pymnt_plan'], axis='columns', inplace=True)
train_df.drop(['Unnamed: 0'], axis='columns', inplace=True)
train_df.dropna()
train_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,dti,delinq_2yrs,inq_last_6mths,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,13375.0,0.1797,483.34,2,223000.0,0,1,29.99,0.0,0.0,...,100.0,50.0,0.0,0.0,577150.0,122018.0,32000.0,170200.0,0,0
1,21000.0,0.1308,478.68,2,123000.0,1,1,11.26,2.0,0.0,...,85.0,33.3,0.0,0.0,132750.0,27896.0,15900.0,35398.0,0,0
2,20000.0,0.1240,448.95,2,197000.0,1,1,11.28,0.0,0.0,...,85.7,33.3,0.0,0.0,628160.0,114043.0,22600.0,90340.0,0,0
3,3000.0,0.1240,100.22,1,45000.0,0,1,18.08,0.0,0.0,...,100.0,16.7,1.0,0.0,42006.0,20761.0,19900.0,15406.0,0,0
4,30000.0,0.1612,1056.49,2,133000.0,1,1,27.77,0.0,2.0,...,100.0,66.7,0.0,0.0,283248.0,109056.0,79500.0,58778.0,0,0

In [18]:
# Convert categorical data to numeric and separate target feature for testing data
test_df =(test_df
             .replace({'loan_status':{'low_risk':'1'}})
             .replace({'loan_status':{'high_risk':'0'}})
             .replace('w',0)
             .replace('f',1)
             .replace('Individual','1')
             .replace('Joint App','0')
             .replace('ANY','0')
             .replace('RENT','1')
             .replace('MORTGAGE','2')
             .replace('OWN','3')
             .replace('Y','1')
             .replace('N','0')
             .replace('Y','1')
             .replace('N','0')
             .replace('Not Verified','0')
             .replace('Source Verified','1')
             .replace('Verified','1'))

In [19]:
# Drop columns and show with .head()
test_df.drop(['index','pymnt_plan'],axis='columns', inplace=True)
test_df.drop(['Unnamed: 0'],axis='columns', inplace=True)
test_df.dropna()
test_df.head()

,loan_amnt,int_rate,installment,home_ownership,annual_inc,verification_status,loan_status,dti,delinq_2yrs,inq_last_6mths,...,pct_tl_nvr_dlq,percent_bc_gt_75,pub_rec_bankruptcies,tax_liens,tot_hi_cred_lim,total_bal_ex_mort,total_bc_limit,total_il_high_credit_limit,hardship_flag,debt_settlement_flag
0,40000.0,0.0819,814.70,2,140000.0,0,1,19.75,0.0,1.0,...,97.7,0.0,0.0,0.0,527975.0,70914.0,74600.0,99475.0,0,0
1,6000.0,0.1524,208.70,1,55000.0,0,1,11.52,2.0,0.0,...,66.7,0.0,0.0,0.0,34628.0,23460.0,5900.0,23628.0,0,0
2,3600.0,0.1695,128.27,1,42000.0,0,1,6.74,0.0,0.0,...,100.0,0.0,0.0,0.0,23100.0,19183.0,7300.0,15000.0,0,0
3,20000.0,0.1524,478.33,1,100000.0,0,1,12.13,0.0,2.0,...,100.0,50.0,0.0,0.0,56481.0,43817.0,13800.0,35981.0,0,0
4,3600.0,0.1240,120.27,1,50000.0,0,1,16.08,0.0,3.0,...,100.0,25.0,0.0,0.0,45977.0,32448.0,21000.0,24977.0,0,0

In [21]:
# add missing dummy variables to testing set
# Train the Logistic Regression model on the unscaled data and print the model score


X_train = train_df.drop('loan_status', axis = 'columns')
y_train = train_df['loan_status'].values
X_test = test_df.drop('loan_status', axis='columns')
y_test = test_df['loan_status'].values

classifier = LogisticRegression(solver='lbfgs',max_iter=200000)
classifier.fit(X_train, y_train)
print(f"Training Data Score: {classifier.score(X_train, y_train)}")
print(f"Testing Data Score: {classifier.score(X_test, y_test)}")

y_pred = classifier.predict(X_test)
print(f'Logistic Regression Model Accuracy: {100 * accuracy_score(y_test, y_pred):.2f}%')

Training Data Score: 0.7063218390804598
Testing Data Score: 0.5723096554657593
Logistic Regression Model Accuracy: 57.23%

In [23]:
# Train a Random Forest Classifier model and print the model score

rfc = RandomForestClassifier(random_state=1, n_estimators=500).fit(X_train, y_train)

print(f'Training Score: {rfc.score(X_train, y_train)}')
print(f'Testing Score: {rfc.score(X_test, y_test)}')

Training Score: 1.0
Testing Score: 0.6399404508719694

In [35]:
# Scale the data

s_scaler = StandardScaler()
X_train_scale = s_scaler.fit_transform(X_train)
X_test_scale = s_scaler.transform(X_test)

In [36]:
# Train the Logistic Regression model on the scaled data and print the model score
classifier.fit(X_train_scale, y_train)

print(f"Training Data: {classifier.score(X_train_scale, y_train)}")
print(f"Testing Data: {classifier.score(X_test_scale, y_test)}")

Training Data: 0.7063218390804598
Testing Data: 0.7683964270523181

In [37]:
# Train a Random Forest Classifier model on the scaled data and print the model score
print(f'Training Score: {rfc.score(X_test_scale, y_test)}')
print(f'Testing Score: {rfc.score(X_train_scale, y_train)}')

Training Score: 0.5
Testing Score: 0.5